@use "../../styles/variables" as *;

.projects__title {
  font-size: 1.5625rem;
  margin-bottom: 2%;
}

.projects__div {
  margin: auto;
  border: 1px solid rgb(200, 219, 226);
  width: 80%;
}
.projects__card {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5%;
  width: 75%;
}

.projects__name {
  margin-bottom: 1.25rem;
}

.projects__txt {
  margin: auto;
  margin-bottom: 1.25rem;
  width: 45%;
}

.projects__img {
  margin: auto;
  width: 50%;
  border-radius: 0.3125rem;
  box-shadow: $shadow;
}

#projects {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}
