.hero {
  background-color: black;
  color: white;
  text-align: center;

  &__img {
    margin-top: -15%;
    width: 50%;
  }

  &__title {
    margin-top: -5%;
    margin-bottom: 1.25rem;

    &--btm {
      padding-bottom: 10%;
    }
  }
}
