.footer {
  background: linear-gradient(#f2f9fe 50%, rgb(200, 219, 226) 100%);
  text-align: center;
  margin-top: 5%;
  padding: 5%;

  &__note {
    color: rgb(84, 148, 169);
    font-style: italic;
    margin-bottom: 10px;
  }
}
